apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: devsu-api-hpa
  namespace: devsu
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: devsu-api
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
